@font-face {
    font-family: 'Lato';
    src: local('Lato Black'), local('Lato-Black'),
        url('Lato-Black.woff2') format('woff2'),
        url('Lato-Black.woff') format('woff'),
        url('Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }